---
layout: default
---

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto min-content;
  padding: 10px;
  
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding-right: 5px;
  


}



.hidden-mobile {
            width: 200px; 
          height:200px;
}

      @media (max-width: 767px) {
        .hidden-mobile {
          display: none;

        }
      }




</style>



<!-- 

06/2014 - 01/2017
Chicago, IL
Experience with Agile/Scrum software development methodologies; experience with engineering best practices
Develop, optimize, standardize and implement data science and machine learning solutions at scale in data pipelines and distributed systems (e.g. Hadoop/Spark ecosystem)
Design, develop and implement data science and machine learning models in proof-of-concepts and prototypes. Closely cooperate and support the Foundational R&D team
Engineer at scale using service-oriented architecture, containerized applications and functions as a service, especially in cloud service environments (i.e. IaaS, PaaS, SaaS, FaaS)
Optimize data science and machine learning models using high performance computing (e.g. GPGPU) and real-time techniques (e.g. messaging services, reactive programming)
Represent GfK's Machine Learning and Data Science expertise at conferences and workshops
Design, develop and implement data science and machine learning models in proof-of-concepts and prototypes



EXPERIENCES

Experience with containerization using tools such as Docker
Experience with common machine learning libraries and tools: scikit-learn, MXNet, Tensorflow, XGBoost
Experience with machine learning frameworks such as MLlib, TensorFlow, Caffe, or PyTorch
Experience with Docker, AWS and understanding of the concept of microservices
A strong desire to learn the details of advance machine learning algorithms
Participate in code reviews to ensure code quality and share best practices and experiences with the team
Professional experience in software development
Experience in Agile software development processes in a commercial setting
Work experience in software engineering, data science, and machine learning

----

Collaborate with other scientists and engineers to find effective solutions to technical challenges
Experience with modern source control (Git, Hg, SVN)
Experience in software development of large-scale data infrastructure and distributed systems


SKILL


Strong machine learning background, with hands-on experience building multiple significant ML systems
Strong engineering background with a good foundation in data structures, algorithms, distributed systems and software design
Experience with Python and/or Java and good coding practices



Experience building solutions for home networks, IoT device and cloud systems, context-awareness, pervasive computing, or home/industrial control systems



Strong programming skills and experience with significant software development projects
Strong analytic / trouble-shooting skills and demonstrated excellence in written and verbal communications
Professional experience with strong coding skills in one or more of: Python, C++, C#,
Strong coding skills and fundamentals in data structures, predictive modeling and big data concepts
Strong coding skills in at least one high level programming language like Java, Scala, C++ or Python (NumPy, SciPy, Pandas)
Strong object-oriented programming skills, including proficiency in Java, Scala, C/C++ or Python
Strong SQL skills and is comfortable operating with relational data models and structure



HT
Developed validation tests for ensuring the quality of the final product
Experience in Python
Professional experience in C# and/or C++
Dedicated, with a demonstrated ability to take on hard problems
Design, develop, validate and deploy proposed ML solutions
Skills:
• Deep learning software: TensorFlow, Caffe, Torch, CUDA, Numpy.
• Big data: Apache Storm, Apache Spark, Kafka, Cassandra, Hadoop, MongoDB.
• Full-stack: Python, Ruby on Rails, J2EE, PHP, C++, React, Redux, Bootstrap, JavaScript, JQuery, Sass.
• Cloud computing & DB: Amazon AWS & EC2, MySQL, Oracle DB, SQL.
• Spring, Spring MVC, Hibernate, Memcached, Lucene, Solr.

Key achievements:
• Provided technical leadership for projects in crisis.
• Provided cross-disciplinary expertise in delivering 20+ complex systems.
• Implemented turnkey solutions for startups.
• In-depth industrial experience in open source technologies, architecture designs, and trade-off.
• 4+ years of engineering management role in leading 3 imaging R&D teams.
• Recipient of numerous industrial/service awards & US patents.



Focus on delivering quickly and making an impact
Knowledge of the underlying ML techniques and algorithms development

Familiarity with various machine learning methods
Knowledge of machine learning libraries like Scikit-learn, TensorFlow, Caffe, Keras, etc
Stay up to date and ahead of the world on where the technology and their applications might be evolving 

Participate in code reviews to ensure code quality and share best practices and experiences with the team

-->

<div class="grid-container">
  <div class="grid-item">
    

<!-- Currently, I'm seeking for Ph.D position in a lab, where I can focus on <u>Computer Vision, Model Compression, Reinforcement Learning </u> in a country that English is the native language. -->
<!-- <i>Open To Work</i> </u> -->


I received my Master. degree in Electronics Engineering from Incheon National University (INU, South Korea), where I did research on Model Compression, Quantization, Reinforcement Learning with Professor <a href="https://sites.google.com/site/robustsystemslab2/members"> Jeayong Chung </a> in  <a href="https://sites.google.com/site/robustsystemslab2/home">  System-on-Chip Laboratory</a>. 
<!-- During that period, I worked with lead researcher Taifeng Wang as a research intern in Machine Learning Group, Microsoft Research Asia (MSRA). -->

<br/>
Before that, I got my B.S. in Computer Science (Honor/Talented Program) from University of Information Technology, Vietnam National University, VNU-HCM, where I worked with Professor  <a href="https://scholar.google.com/citations?user=I8bNZakAAAAJ&hl=en"> Thanh. Ngo Duc.</a>


<br/>
<br/>
My research focuses on Computer Vision, TinyML, Model Compression. Specifically, I'm interested in deploying state-of-the-art deep networks in low-power and resource limited devices. 


  </div>
  <div class="grid-item">
  <div class="hidden-mobile">
    <center>
    <img src="https://i.ibb.co/JpPh86H/image-modified.png" class="rounded-circle" alt="Picture of Phuoc Pham" width="100%" height="100%"> 
    <a href="https://drive.google.com/file/d/10rm-HNHxSP4Y1D_KDdZxShUzG_ZclX7T/view?usp=sharing" style="color: inherit;">[CV]</a> &nbsp;<a href="https://www.linkedin.com/in/phuoc-pham-848004119/" style="color: inherit;">[Linkedin]</a>  </center> 
  </div>




  
</div>
  </div>  
 


<div class="main" style="margin-left:0px;" >




<br/>

<hr/>
<br/>


<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h2><strong>EDUCATION</strong></h2>
  <ul>

<li>M.S., Incheon National University (Incheon, South Korea) 2021, (GPA: 9.7/10) <a href="https://drive.google.com/file/d/1c7xQ7CN0QWqig6r4nEdHlcHAiCwa1GaT/view?usp=sharing"> thesis_docx</a> .</li>

<li>B.S., Vietnam National University, Computer Science 2017 (Honor Program, GPA: 8.7/10) <a href="https://drive.google.com/file/d/1kdve-JC5baVLdf0p5a-zBbSGmjnyqJi1/view?usp=sharing"> thesis_docx</a> </li>
</li>
  </ul>
</div>


</div>



























<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h2><strong>PROFESSIONAL SKILLS</strong></h2>


Around 5+years of professional experience in Machine Learning, Computer Vision, Designing and Developing machine learning models, Model Compression, Reinforcement Learning and Graph Neural Network with various programming languages/tools: Python, C/C++, SQL, Pytorch, TensorFlow.

Motivated Machine Learning Engineer with an in-depth knowledge of applying, validating ML techniques and optimizing algorithms for the best performance possible, with a proven ability to manage multiple projects.

<br/><br/>
<ul>
<li>Proficient in Machine Learning and Deep Learning Skills for multiple domains, including Computer Vision, Reinforcement Learning, Model Compression and Graph Neural Network.</li>
<li>Interest and ability to quickly learn & apply newer machine learning algorithms</li>
<li>Take initiative to launch projects with the ability to quickly learn and develop own ideas in an interdisciplinary environment</li>
<li>3+ years experience in software development.</li>
<li>Strong programming skills in different OS (Linux, Windows, etc.) and languages (Python/ C/ C++).</li>
<li>Experience with machine learning libraries and tools: Scikit-learn, Pytorch, Tensorflow, Caffe</li>
<li>Experience with Docker, Kubernetes, Google Clould and understanding of the concept of microservices.</li>
<li>Working knowledge of web technologies (Django/Rest API, Flask, Redis, MongoDB) and other communication protocols.</li>
<li>A strong desire to learn the details of advance machine learning algorithms</li>
<li>Experience in Agile/Scrum software development processes in a commercial setting.</li>
</ul>
</div>
</div>



<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h2><strong>WORK HISTORY</strong></h2>



<i>08.2019 - Present:</i> <h3><strong>Researcher, System-on-Chip Laboratory, Incheon National University</strong></h3>

I currently work  as a  Researcher  at  System-on-Chip Laboratory in  Incheon National University, Korea. My  team develops and applies graph neural network / reinforcement learning to hardware logic synthesis (Static Timming Analysis) to improve the efficiency of commercial EDA tools. My  work  consists  of  designing graph neural network models for predicting delays on synthesized circuits and constructing state-representation for RL agent. This work includes new machine learning  approaches about logic synthesis, applied RL in graph structure(many  of  which are novel).

<br/>
<br/>

<strong>Skill set</strong>: Machine Learning, Neural Network Designing, Computer Vision, Reinforcement Learning, Graph Neural Network, Logic Synthesis Optimization.
<br/>

<strong>Responsibilities: </strong>

<ul>
<li>Improved the accuracy of compressed models by 20% (comared to SoTA works) by applying symmetric quantizer.</li>
<li>Developed a flexiable run-time bit-width adaptation for object detection.</li>
<li>Research on Reinforcement Learning (Curiosity-driven Exploration problem), Binarization/Quantization and Graph Neural Network State Representation </li>
<li>Extracted data from OpenSTA and prepared data for exploratory analysis using Cppyy</li>
<li>Extensively used Pytorch packages like (Pytorch Lightning, Ray Tune, Redis, seaborn, matplotlib) for developing machine learning algorithms and visualization.</li>
<li>Proficient in requirement gathering, writing, analysis, estimation, use case review, scenario preparation, test execution, test results analysis & reporting</li>
<li>Mentoring undergraduate students to improve their technical skills</li>


</ul>
<!--   <ul>
<li><i>08.2019 - Present</i>: Researcher, System-on-Chip Laboratory, Incheon National University (Korea)</li>

Fast-moving, developer-driven organization full of brilliant and ambitious people

 -->
<br/>

<i>07.2017 - 08.2019</i>: <h3><strong>AI Engneer, Planet Solution Company (Ho Chi Minh City, Vietnam)</strong></h3>
Fast-moving, developer-driven team full of brilliant and ambitious people
Small team = big impact. Our product development is highly decentralized in order to create the small team speed and autonomy of a start-up environment but backed by big company resources.
<br/>
<br/>


<strong>Skill Set</strong>: Good background in the following areas: Video streaming between IoT devices and servers, Websocket, RESTful API, Microservices.<br/>
<strong>Projects</strong>: 4G Raspberry Pi Streaming, Private Encrypted Chat App (Back-end side)<br/>
<strong>Responsibilities:</strong>


<ul>
<li>Developed  web application by using Django Rest Framework & deployed the same using Docker container in Kubernetes env.</li>
<li>Web scrapping and information extraction by using Python, Scrapy, Websocket packages for IoT device monitoring.</li>
<li>Implemented Event Task for execute Application Automatically.</li>
<li>Implemented all related Restful APIs for client request (Encrypted Chat App), work closely with development teams to ensure accurate integration</li>
<li>Building, publishing customized interactive reports& dashboards using Django & Scrapy.</li>

</ul>


<!-- Analyze, develop algorithms, and deploy solutions based on real-world data
Project prioritization and roadmap planning

Apply different Machine Learning algorithms/methods on data sets to predict credit risk, fraud detection, customer churn, and target marketing -->


<br/>
<i>05.2015 - 07.2017:</i> <h3><strong>Researcher Assistant, MMLab University of Information Technology, VNU</strong></h3>

My work  for the MMLab focused on  a visual search, traffic sign detection and small object detection recognition. I formulated the research problems and synthesized relevant datasets. My research work published in ICONP 2017 Conference.

<br/>
<br/>
<strong>Skill set</strong>: Machine Learning, Deep Learning, Python, Computer Vision, Object Detection.

<strong>Responsibilities:</strong>

<ul>
<li>Research & evaluate Machine Learning models for small object detection</li>
<li>Coordinate with lecturers on the development of Semantic Content-based Video Search</li>
<li>Assist the implementation and deployment of a face recognition system for lab management</li>
<li>Research and re-produce results of the state of the art techniques on various topics: Hand Guesture Recognition, Traffic Sign Detection, Lane Detection.</li>
</ul>




</li>
  </ul>
</div>


</div>

<br/>



<div class="row" style="margin-left:0px; ">
<div class="col-sm-9">
  <h2><strong>PUBLICATIONS</strong></h2>
  

  <ol>
    <li><strong>Pham P</strong>, Abraham JA, Chung J. <i>Training Multi-bit Quantized and Binarized Networks with A Learnable Symmetric Quantizer</i>. IEEE Access. 2021 Mar 22;9:47194-203.</li>
    <li><strong>Pham P</strong>, Chung J. <i>Improving Model Capacity of Quantized Networks with Conditional Computation</i>. Electronics. 2021 Jan;10(8):886.</li>
    <li><strong>Pham P</strong>, Nguyen D, Do T, Ngo TD, Le DD. <i>Evaluation of deep models for real-time small object detection</i>. InInternational Conference on Neural Information Processing 2017 Nov 14 (pp. 516-526). Springer, Cham.</li>
  </ol>
  
</div>


</div>






<!-- <div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>Research Projects</strong></h3>

  <ol>

<li><a href="https://github.com/phuocphn/uniq">UniQ</a> - A Single Framework for Neural Network Quantization.</li>
<li>Machine Learning-based EDA Tools </li>
<li>Object Decognition with Dynamic Bitwidth</li>
<li>Compact, Universal HD Video Streaming via 4G Network</li>


</ol>
  </ul>
</div>
</div> -->


<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>OTHER PERSONAL INTERESTS</strong></h3>
  <ul>

<li>Building FPV Racing Drones (<small><i>If you are interested about setting up/ building your drone from scratch, or simply to make fun with cinematic drones, feel free to join my group via FB or email.</i></small>)  </li>
<li>Cycling // Video Editting // Harmonica.</li>
</li>
  </ul>
</div>
</div>


<hr/>
<br/>


<!-- To  learn more  about me  and some  of  my  projects/papers/master’s  thesis, please  visit: http://ericwadkins.com -->

<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
<br/>
<h3><strong>CONTACT INFORMATION </strong></h3>

<strong>Phuoc Pham</strong>, School of Engineering, Incheon National University, South Korea <br/>
Email: phuocphn [at] gmail [dot] com, 
<br/>Address: Incheon National University. (Songdo-dong)119 Academy-ro, Yeonsu-gu, Incheon, Korea, (22012) 인천광역시 연수구 아카데미로 119(송도동) 인천대학교 


</div>
</div>


<!--
  https://www.hireitpeople.com/resume-database/74-business-intelligence-business-object-resumes/166337-senior-machine-learning-engineer-resume-chicago
-->