---
layout: default
---

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto min-content;
  padding: 10px;
  
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding-right: 5px;
  


}



.hidden-mobile {
            width: 200px; 
          height:200px;
}

      @media (max-width: 767px) {
        .hidden-mobile {
          display: none;

        }
      }




</style>




<!-- Skills:
• Deep learning software: TensorFlow, Caffe, Torch, CUDA, Numpy.
• Big data: Apache Storm, Apache Spark, Kafka, Cassandra, Hadoop, MongoDB.
• Full-stack: Python, Ruby on Rails, J2EE, PHP, C++, React, Redux, Bootstrap, JavaScript, JQuery, Sass.
• Cloud computing & DB: Amazon AWS & EC2, MySQL, Oracle DB, SQL.
• Spring, Spring MVC, Hibernate, Memcached, Lucene, Solr.

Key achievements:
• Provided technical leadership for projects in crisis.
• Provided cross-disciplinary expertise in delivering 20+ complex systems.
• Implemented turnkey solutions for startups.
• In-depth industrial experience in open source technologies, architecture designs, and trade-off.
• 4+ years of engineering management role in leading 3 imaging R&D teams.
• Recipient of numerous industrial/service awards & US patents.
 -->




<div class="grid-container">
  <div class="grid-item">
    

<!-- Currently, I'm seeking for Ph.D position in a lab, where I can focus on <u>Computer Vision, Model Compression, Reinforcement Learning </u> in a country that English is the native language. -->
Currently, I'm seeking for a ML Engineer position in an international AI-related company/corporation, where I can focus on topics about <u>Computer Vision, Model Compression, and Reinforcement Learning </u>

<br/>
<br/>
Previously, I received my Master. degree in Electronics Engineering from Incheon National University (INU, South Korea), where I did research on Model Compression, Quantization, Reinforcement Learning with Professor <a href="https://sites.google.com/site/robustsystemslab2/members"> Jeayong Chung </a> in  <a href="https://sites.google.com/site/robustsystemslab2/home">  System-on-Chip Laboratory</a>. 
<!-- During that period, I worked with lead researcher Taifeng Wang as a research intern in Machine Learning Group, Microsoft Research Asia (MSRA). -->

<br/>
Before that, I got my B.S. in Computer Science (Honor/Talented Program) from University of Information Technology, Vietnam National University, VNU-HCM, where I worked with Professor  <a href="https://scholar.google.com/citations?user=I8bNZakAAAAJ&hl=en"> Thanh. Ngo Duc.</a>


<br/>
<br/>
My research focuses on Computer Vision, TinyML, Model Compression. Specifically, I'm interested in deploying state-of-the-art deep networks in low-power and resource limited devices. 


  </div>
  <div class="grid-item">
  <div class="hidden-mobile">
    <center>
    <img src="https://i.ibb.co/JpPh86H/image-modified.png" class="rounded-circle" alt="Picture of Phuoc Pham" width="100%" height="100%"> 
    <a href="https://drive.google.com/file/d/1AOVTgyMNTLC0m-vZdt0ShB0zB0v9HbAA/view?usp=sharing" style="color: inherit;">[CV]</a> &nbsp;<a href="https://www.linkedin.com/in/phuoc-pham-848004119/" style="color: inherit;">[Linkedin]</a>  </center> 
  </div>




  
</div>
  </div>  
 


<div class="main" style="margin-left:0px;" >




<br/>

<hr/>
<br/>


<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>Education</strong></h3>
  <ul>

<li>M.S., Incheon National University (Incheon, South Korea) 2021, (GPA: 9.7/10) <a href="https://drive.google.com/file/d/1c7xQ7CN0QWqig6r4nEdHlcHAiCwa1GaT/view?usp=sharing"> thesis_docx</a> .</li>

<li>B.S., Vietnam National University, Computer Science 2017 (Honor Program, GPA: 8.7/10) <a href="https://drive.google.com/file/d/1kdve-JC5baVLdf0p5a-zBbSGmjnyqJi1/view?usp=sharing"> thesis_docx</a> </li>
</li>
  </ul>
</div>


</div>





<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>Experiences</strong></h3>

  <ul>
<li><i>08.2019 - Present</i>: Researcher, System-on-Chip Laboratory, Incheon National University (Korea)</li>
<li><i>07.2017 - 08.2019</i>: AI Engneer, Planet Solution Company (Ho Chi Minh City, Vietnam)</li>
<li><i>05.2015 - 07.2017</i>: Research Assistant, The University of Information Technology, VNU</li>
</li>
  </ul>
</div>


</div>




<div class="row" style="margin-left:0px; ">
<div class="col-sm-9">
  <h3><strong>Pulications</strong></h3>
  

  <ol>
    <li><strong>Pham P</strong>, Abraham JA, Chung J. <i>Training Multi-bit Quantized and Binarized Networks with A Learnable Symmetric Quantizer</i>. IEEE Access. 2021 Mar 22;9:47194-203.</li>
    <li><strong>Pham P</strong>, Chung J. <i>Improving Model Capacity of Quantized Networks with Conditional Computation</i>. Electronics. 2021 Jan;10(8):886.</li>
    <li><strong>Pham P</strong>, Nguyen D, Do T, Ngo TD, Le DD. <i>Evaluation of deep models for real-time small object detection</i>. InInternational Conference on Neural Information Processing 2017 Nov 14 (pp. 516-526). Springer, Cham.</li>
  </ol>
  
</div>


</div>






<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>Research Projects</strong></h3>

  <ol>

<li><a href="https://github.com/phuocphn/uniq">UniQ</a> - A Single Framework for Neural Network Quantization.</li>
<li>Machine Learning-based EDA Tools </li>
<li>Object Decognition with Dynamic Bitwidth</li>
<li>Compact, Universal HD Video Streaming via 4G Network</li>


</ol>
  </ul>
</div>


</div>


<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
  <h3><strong>Other interests</strong></h3>
  <ul>

<li>Building FPV Racing Drones // Cycling // Video Editting // Harmonica. </li>

</li>
  </ul>
</div>
</div>


<hr/>
<br/>

<div class="row" style="margin-left:0px; ">
<div class="col-sm-12">
<br/>
<h3><strong>Contact Information</strong></h3>

<strong>Phuoc Pham</strong>, School of Engineering, Incheon National University, South Korea <br/>
Email: phuocphn [at] gmail [dot] com, 
<br/>Address: Incheon National University. (Songdo-dong)119 Academy-ro, Yeonsu-gu, Incheon, Korea
</div>
</div>
